:root {
  --bg-primary: rgb(30, 32, 30);
  --bg-secondary: rgb(60, 61, 55);
  --outline-primary: rgb(105, 117, 101);
  --text-primary: rgb(236, 223, 204);

  --gradient-primary: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 61, 55, 1) 0%,
    rgba(160, 172, 97, 1) 100%
  );

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--outline-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}
